/* Contact Item Container */
.contact-item {
    background-color: rgba(6, 182, 212, 0.1); 
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin-bottom: 0.5rem;
}

.contact-item:hover {
    background-color: rgba(6, 182, 212, 0.2); 
}

.contact-item:last-child {
    margin-bottom: 0;
}

/* Contact Content */
.contact-content {
    display: flex;
    align-items: center;
    gap: 0.75rem; 
}

/* Avatar */
.contact-avatar {
    position: relative;
}

.avatar-image-container {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    overflow: hidden;
    border: 2px solid rgba(34, 211, 238, 0.3);
}

.contact-avatar-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.contact-avatar ::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0.75rem;
    height: 0.75rem;
    background-color: #10b981;
    border: 2px solid #1e293b;
    border-radius: 9999px;
}


/* Contact Name */
.contact-name {
    color: #e2e8f0; 
    font-weight: 500; 
    font-size: 0.875rem;
    margin: 0;
}